#slider{
	background: url('../images/slider1.jpg');
	background-size: cover;
    min-height: 400px;
    background-repeat: no-repeat;
}

.collection{
	background: url('../images/banner1.jpg');
	background-size: cover;
    min-height: 400px;
    background-repeat: no-repeat;
}

.arrival{
	background: url('../images/banner2.jpg');	
	background-size: cover;
    min-height: 400px;
    background-repeat: no-repeat;
}

.pd-0{
	padding: 0px;
}

#sponsors{
	background: url('../images/client-bg.jpg');	
	background-size: cover;
    min-height: 400px;	
}

.width{
	width: 100%;
}