section
  .container-fluid
    .row
      span.fa.fa-angle-left
      span LATEST
      span BESTSELLER
      span SALE
      span.fa.fa-angle-right 
    .row
      +col-4
        +image("images/a2.jpg", '')(class="clothing-sale pull-left")
        h4 Lorem
        p $218
        span(href="#").fa.fa-star
      +col-4
        +image("images/a2.jpg", '')(class="clothing-sale pull-left")
        h4 Lorem
        p $218
        span(href="#").fa.fa-star
      +col-4
        +image("images/a2.jpg", '')(class="clothing-sale pull-left")
        h4 Lorem
        p $218
        span(href="#").fa.fa-star     
    .row
      +col-4
        +image("images/a2.jpg", '')(class="clothing-sale pull-left")
        h4 Lorem
        p $218
        span(href="#").fa.fa-star
      +col-4
        +image("images/a2.jpg", '')(class="clothing-sale pull-left")
        h4 Lorem
        p $218
        span(href="#").fa.fa-star
      +col-4
        +image("images/a2.jpg", '')(class="clothing-sale pull-left")
        h4 Lorem
        p $218
        span(href="#").fa.fa-star                     
