doctype html
html
 include ./base/head.jade
 body
  include ./layout/header.jade
  include ./includes/contact/contact.jade
  include ./layout/footer.jade
  script(src="vendor/javascripts/bootstrap.js")