doctype html
html
 include ./base/head.jade
 body
  include ./layout/header.jade
  include ./includes/welcome/slider.jade
  include ./includes/welcome/latest.jade
  include ./includes/welcome/clothing.jade
  include ./includes/welcome/blog.jade
  include ./layout/footer.jade
  script(src="../vendor/javascripts/bootstrap.js")