footer
  .container
    .row
      .col-md-3.col-sm-3.col-xs-12
        h4 Accesories
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, facilis nobis molestias nam delectus autem ex consequatur hic, illo dolore nisi quaerat modi tempore. Harum ut perferendis veritatis architecto deserunt?
        +networks
      .col-md-2.col-sm-2.col-xs-12
        +lista("My Account")
          +li("My Account")
          +li("Order History")
          +li("Wish List")
          +li("Newsletter")
      .col-md-2.col-sm-2.col-xs-12
        +lista("Information")
          +li("My Account")
          +li("Order History")
          +li("Wish List")
          +li("Newsletter")
      .col-md-2.col-sm-2.col-xs-12
        +lista("Extras")
          +li("My Account")
          +li("Order History")
          +li("Wish List")
          +li("Newsletter")
      .col-md-3.col-sm-3.col-xs-12 
        h4 About us
        p
          a(href="#").social-footer.fa.fa-map-marker
          span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, voluptate.
        p
          a(href="#").social-footer.fa.fa-phone
          span  36346367363
        p
          a(href="#").social-footer.fa.fa-envelope
          span  Lorem ipsum dolor sit amet, consectetur adipisicing.

